body{
    background-color: #333333 !important;
    font-family: arial, helvetica, sans-serif;
    color: lightblue !important;
}

.TaskName{
    font-size : 12pt;
    font-weight: bold;
}

.TaskDetail
{
    font-size: 10pt;
}

label{
    font-weight: bold;
}

.name.completed-task {
  text-decoration: line-through !important;
}


