<div th:fragment="taskList">    <!-- Insert the template -->
    <h2>Add a task</h2>
    <form th:action="@{/tasks}" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Add a new task"/>
        <input type="submit" value="Add" class="btn btn-primary btn-sm"/>
    </form>
 
    <h2>Task List</h2>
    <div th:unless="${#lists.isEmpty(tasks)}">
        <div th:each="task : ${tasks}" class="item">
             <form th:action="@{/task/} + ${task._id}" method="POST">
                    <span>
                        <input type="submit" value="done" class="btn btn-success btn-xs task-done"/>
                    </span>    
                    Task: <span th:text="${task.Name}"></span>
                    <span th:if="${task.CreateTime}" th:text="${#temporals.format(task.CreateTime, 'dd/MMM/yyyy HH:mm')}"></span>
                    <span><a th:href="@{/delete/} + ${task._id}" class="btn btn-danger btn-xs task-delete">Delete</a></span>
                    <!-- <a th:href="@{/task/} + ${task._id}">Done</a> -->
                </form>
         </div>
    </div>
   
<div th:if="${#lists.isEmpty(tasks)}">
    <p>You have no tasks in your list</p>
</div>

</div> <!-- end of container block -->   